@keyframes ani {
    0%{
        transform: translateY(80px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

:root{
    --corA:#00A9A5 ;
    --corB: #0B5351;
    --corC: #092327;
    --corD: #90C2E7;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

.container{
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    background-color: var(--corC);
}

/* ============= INICIO HEADER =========== */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 13vh;
    min-height: 50px;
    width: 100%;
}
header h3{
    color: var(--corA);
    font-size: 2em;
    text-transform: uppercase;
}

/* ============= INICIO MAIN =========== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;

}

/* ========== BTNS ======*/
main #btn, main #subir{
    background-color: #2d3a3984;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0px;
    z-index: 1000;
}

main #btn h3, main #subir h3{
    color: rgba(255, 255, 255, 0.742);
    font-size: 3em;
    
}

main #subir{
    right: none;
    left: 10%;
    padding-top: 12px;
    display: none;
}

main #subir.active{
    display: flex;
}

main #btn h3 {
    color: var(--corA);
}
main #btn {
    background-color: rgba(0, 0, 0, 0.693);
}

/* ==========  ======*/

main div.nota {
    background-color: var(--corB);
    width: 95%;
    min-height: 120px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding:15px 30px;
    position: relative;
    word-break: break-all;
    box-shadow: 0px 0px 0px 5px black;

}
/*    Incluir caso o script de animação volte
main div.nota.active {
    animation: ani 0.5s;
    opacity: 1;
    
}
*/ 


main div.nota h3 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--corA);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-bottom: 10px;
    border-bottom: 0.5px solid black;
}
main div.nota p {
    text-align: left;
    color: black;
    font-family: sans-serif;
    padding-bottom: 10px;

}

main div.nota div.sub{
    background-color: #00060ad4;
    width: 80px;
    height: 100px;
    position: absolute;
    right: 10%;
    top: 10%;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 15000;
}
main div.nota.active div.sub{
    display: flex;
}

main div.nota div.sub i{
    font-size: 18px;
    color: var(--corA);
}

main div.nota .miniInfo{
    display: flex;
    justify-content: space-around;
    border-top: 0.5px solid black;
    
}
main div.nota .miniInfo .p1{
    left: 4px;
    top: 20%;
    font-weight: 700;
}
main div.nota .miniInfo .p2{
    right: 4px;
    top: 20px;
    font-weight: 700;
}




main #modal-prot{
    height: 100vh;
    width: 100%;
    background-color: rgba(104, 104, 104, 0.456);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20000;
}

main #modal-prot.active{
    display: flex;
}

main .modal{
    background-color: var(--corB);
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    
    

}
main .modal #titulo{
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    height: 60px;
    background-color: var(--corB);
    border: 0;
    border-bottom: 0.5px solid black;
    color: var(--corA);
    padding-left: 60px;
    
}

main .modal #textarea {
    height: 100%;
    background-color: var(--corB);
    border: 0px;
    padding: 10px 12px;
    font-size: 1em;
    color: black;

}

main .modal button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color: var(--corA);
    font-weight: 800;
    font-size: 1em;
    position: absolute;
    cursor: pointer;
    font-family: sans-serif;
}

main .modal #salvar {
    top: 7px;
    left: 10px;
    transform: rotate(90deg);

}

main .modal #editar {
    top: 7px;
    left: 10px;
    transform: rotate(90deg);
    display: none;

}

main .modal #fechar {
    top: -20px;
    right: -20px;
    display: none;

}


